html {
background-color: #272822;
}
.wrapper {
	width: 1300px;
	margin: auto;
	height: 100%;
	color: #fff;
	text-align: center
}
a {
	text-decoration: none;
}

.string div {
	display: inline-block;
	margin-left: 75px;
}
.explainWidth {
	width: 69%;
}
.workArea {
	
	color: #fff;

	padding: 2%;
	padding-bottom: 10px;
}
.colorWhite {
	color: #fff;
}
.displayBlock {
	display: block;
}
.indent {
	text-indent: 5.5em;
}
.indentTitle {
text-indent: 3.5em;
}
.secondLayertitle {
	text-indent: 7em;
}
.secondLayerItem {
	text-indent: 9em;
}
.firstLayer {
	text-indent: 1.5em;
}
.previousComment {
text-indent: 3em;
}
.previousText {
text-indent: 5em;
}
.from {
	white-space: pre;
}
.class {
 color: #A6E22E;
}
.property {
 color: #66D9EF;
}
.string {
	color: #FFE792;
}
.propertyLink{
	color: #FD971F;
}
.comment {
	color: #75715E;
}
.tableIndent{
	text-indent: 12em;
}
.number {
	color: #AE81FF;
}
@print {
	.wrapper {
	width: 1020px;
	margin: auto;
	height: 100%;
	color: #fff;
	text-align: cente
}
a {
	text-decoration: none;
}

.workArea {
	background-color: #272822;
	color: #fff;
	float: right;
	padding: 2%;
	padding-bottom: 10px;
}
.colorWhite {
	color: #fff;
}
.displayBlock {
	display: block;
}
.indent {
	text-indent: 5.5em;
}
.indentTitle {
text-indent: 3.5em;
}
.secondLayertitle {
	text-indent: 7em;
}
.secondLayerItem {
	text-indent: 9em;
}
.firstLayer {
	text-indent: 1.5em;
}
.previousComment {
text-indent: 3em;
}
.previousText {
text-indent: 5em;
}
.from {
	white-space: pre;
}
.class {
 color: #A6E22E;
}
.property {
 color: #66D9EF;
}
.string {
	color: #FFE792;
}
.propertyLink{
	color: #FD971F;
}
.comment {
	color: #75715E;
}
.tableIndent{
	text-indent: 12em;
}
.number {
	color: #AE81FF;
}

}